body{
	background-image: url("https://www.bellacor.com/media.bellacor.com/images/1500/238801RG35725.jpg");
	height: 100%;
	background-size: cover;
	/* https://i.pinimg.com/564x/ff/c2/fd/ffc2fd0a39e64552011bdd3e4967e27a.jpg */
	
}

h1 {
	text-align: center;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 666px;
	padding: 30px;
	transform: translate(-50%, -50%);
	/* When centering contents keep in mind that it centers the upper left corner of the content
	rather than its center. In order to get the image exactly centered, apply a negative top margin 
	of half the content's height, and a negative left margin of half the content's width. 
	Because we don't know the exact size, use translate because it is based off the size of the element*/
	background-color: white;


}

.image{
	position: relative;
	margin: calc(10%/6);
	transition: all 0.2s;
	float: left;
	border-radius: 20px;

}

.image__img{
	display: block; 
	width: 300px; 
	height: 300px;
	margin: 0;
	transition: all 0.2s;
	object-fit: cover;
	border-radius: 20px;
}

.image:hover {
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em);
	
}

.image__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s;
	border-radius: 20px;
}

/* Targets every direct child of the image overlay 
	Basically targets the image__title*/
.image__overlay > * {
	transform: translateY(20px); /*Starts at under 20 and then moves to center once hovered*/
	transition: transform 0.2s;
}

.image__overlay:hover {
	opacity: .85;
}

.image__overlay:hover > * {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
}
